@font-face {
  font-family: 'Alice';
  src: url('./assets/fonts/Alice-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Dancing-Script';
  src: url('./assets/fonts/DancingScript.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('./assets/fonts/MyriadPro-Light.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro Bold';
  src: url('./assets/fonts/MyriadPro-Bold.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Grestal';
  src: url('./assets/fonts/GrestalScript.ttf');
  font-display: swap;
}