<div class="information">
  <div class="container">
    <div class="header-section">
      <div class="image-widget">
        <img src="../../../assets/images/flower.webp" loading="lazy" width="40" alt="Flower">
      </div>
      <div class="heading-widget">
        <h2>When & Where</h2>  
      </div>
      <div class="text-widget">
        <p>We love to see you soon.</p>
      </div>
    </div>
    <div class="section">
      <div class="inner-section ceremony">
        <div class="w-icon">
          <img src="../../../assets/images/CHURCH_1.webp" loading="lazy" width="40" alt="Church">
        </div>
        <div class="heading">
          <h3>The Ceremony</h3>
        </div>
        <div class="text-widget">
          <span>Saturday, September 21, 2024</span>
        </div>
        <div class="text-widget">
          <span>01:30 PM - 3:00 PM</span>
        </div>
        <div class="text-widget">
          <span>San Antonio de Padua Parish</span>
        </div>
        <div class="text-widget">
          <span>Brgy. Pooc II, Silang, Cavite</span>
        </div>
        <div class="text-widget">
          <img class="qr" src="../../../assets/images/church_qr.webp" loading="lazy" width="150" alt="Church QR">
        </div>
      </div>
      <div class="inner-section reception">
        <div class="w-icon">
          <img src="../../../assets/images/celebration.webp" loading="lazy" width="40" alt="Celebration">
        </div>
        <div class="heading">
          <h3>The Reception</h3>
        </div>
        <div class="text-widget">
          <span>Saturday, September 21, 2024</span>         
        </div>
        <div class="text-widget">
          <span>4:00 PM - 8:00 PM</span>
        </div>
        <div class="text-widget">
          <span>Fruella's Events Place Tagaytay</span>
        </div>
        <div class="text-widget">
          <span>144 Daang Luma, Brgy. Salaban, Amadeo, Cavite</span>
        </div>
        <div class="text-widget">
          <img class="qr" src="../../../assets/images/reception_qr.webp" loading="lazy" width="150" alt="Reception QR">
        </div>
      </div>
    </div>
  </div>  

  <div class="container">
    <div class="header-section">
      <div class="image-widget">
        <img src="../../../assets/images/flower.webp" loading="lazy" width="40" alt="Flower">
      </div>
      <div class="heading-widget">
        <h2>Wedding Details</h2>  
      </div>
      <div class="text-widget">
        <p>This is to guide you on what to do and don't do in the wedding.</p>
      </div>
    </div>   
    <div class="inner-container">
      <div class="header-section"> 
        <div class="heading-widget">
          <h2 style="font-family: 'Dancing-Script'; color: #b4c7e7; font-size: 30px;">Attire and Colors</h2>  
        </div>
      </div>
      <div class="text-widget">
        <p>We would like to see you in your formal or semi-formal attire</p>
        <p>Principal Sponsors - Light Gray</p>
        <p>We kindly encourage our guests to dress in our color palette on our special day.</p>
        <div class="circle">
          <div class="hex-grid">
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex"></div>    
          </div>
        </div>
      </div>  
    </div>

    <div class="inner-container">
      <div class="header-section"> 
        <div class="heading-widget">
          <h2 style="font-family: 'Dancing-Script'; color: #b4c7e7; font-size: 30px;">Gift</h2>  
        </div>
      </div>
      <div class="text-widget">
        <p>Your presence illuminates our night of love.</p>
        <p>Without you, our celebration lacks the glow thereof.</p>
        <p>Yet if a gift is still your heart's desire, a monetary gift, we humbly suggest.</p>
      </div>
    </div>

    <div class="inner-container">
      <div class="header-section"> 
        <div class="heading-widget">
          <h2 style="font-family: 'Dancing-Script'; color: #b4c7e7; font-size: 30px;">Reminder</h2>  
        </div>
      </div>
      <div>
        <p>
          Please refrain from taking photos and videos during the ceremony and do not block the aisle so that the professional photographers and videographers may perfectly capture our special moment.
        </p>
        <p>  
          We would like to see our wedding through your eyes! You can upload your photos & videos and tag us using our official hashtag.
        </p>
        <p>#IkawAtAko</p>       
      </div>
    </div>

    <div class="inner-container">
      <div class="schedule">
        <div class="header-section"> 
          <div class="heading-widget">
            <h2 style="font-family: 'Dancing-Script'; color: #b4c7e7; font-size: 30px;">Schedule</h2>  
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/images/CHURCH_2.webp" loading="lazy" width="50" class="icon" alt="Church">
          <div class="desc-right">
            <div class="time">01:30 PM</div>
            <div class="description">Ceremony</div>
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/images/CAMERA.webp" loading="lazy" width="50" class="icon" alt="Camera">
          <div class="desc-left">
            <div class="time">03:00 PM</div>
            <div class="description">Pictorial</div>
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/images/FOOD.webp" loading="lazy" width="50" class="icon" alt="Food">
          <div class="desc-right">
            <div class="time">04:00 PM</div>
            <div class="description">Registration</div>
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/images/MIKE.webp" loading="lazy" width="50" class="icon" alt="Microphone">
          <div class="desc-left">
            <div class="time">05:30 PM</div>
            <div class="description">Start of Program</div>
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/images/DINNER.webp" loading="lazy" width="50" class="icon" alt="Dinner">
          <div class="desc-right">
            <div class="time">06:30 PM</div>
            <div class="description">Dinner</div>
          </div>
        </div>
        <div class="item">
          <img src="../../../assets/images/CAKE.webp" loading="lazy" width="50" class="icon" alt="Cake">
          <div class="desc-left">
            <div class="time">07:30 PM</div>
            <div class="description">Cake Cutting</div>
          </div>   
        </div>
        <div class="item">
          <img src="../../../assets/images/DISCO.webp" loading="lazy" width="50" class="icon" alt="Disco">
          <div class="desc-right">
            <div class="time">08:30 PM</div>
            <div class="description">After Party</div>
          </div>   
        </div>
      </div> 
    </div>
  </div> 
</div>
