<div class="captured-moments">
  <div class="container">
    <div class="header-section"> 
      <div class="image-widget">
        <img src="../../../assets/images/photo-camera.webp" loading="lazy" width="40" alt="">
      </div>
      <div class="heading-widget">
        <h2>Captured Memories</h2>  
      </div>
      <div class="text-widget heading-text-widget">
        <p>
          Browse through these timeless treasures and embark on a journey down memory lane. Let the laughter, the tears, and the love captured in these images transport you back to that unforgettable day when two souls became one.
        </p>
      </div>
    </div> 
    <div class="section">
          <img src="../../../assets/images/first.webp" loading="lazy" width="40" alt="">
          <img src="../../../assets/images/second.webp" loading="lazy" width="40" alt="">
          <img src="../../../assets/images/third.webp" loading="lazy" width="40" alt="">
          <img src="../../../assets/images/fourth.webp" loading="lazy" width="40" alt="">
          <img src="../../../assets/images/sixth.webp" loading="lazy" width="40" alt=""> 
    </div>
  </div>
</div>