.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

header {
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  background-color: #fff;
  color: #000000;
  width: 100%;
  position: relative;
  transition: top 0.3s;
  z-index: 3;
  border-bottom: 2px solid #b4c7e7;
  // backdrop-filter: blur(8px) brightness(1.2);
  // -webkit-backdrop-filter: blur(8px) brightness(1.2);
  // text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

nav .logo {
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 10px;
  padding: 7px 11px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: .9rem;
  letter-spacing: 0.07rem;
  font-family: 'Myriad Pro';
}

.nav-links li:hover a {
  color: #b4c7e7;
  cursor: pointer;
  font-family: 'Myriad Pro Bold';
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #b4c7e7;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Responsive */
@media screen and (max-width: 768px) {
  nav {
    padding: 5px 10%;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 49px;
    left: -100%;
    background-color: white;
    transition: top 0.3s ease;
    padding: 0;
    z-index: 3;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;

  }

  .nav-links a {
    font-size: .8rem;
    font-family: 'Myriad Pro';
    letter-spacing: 0.05rem;
  }

  .burger {
      display: block;
  }
}

.nav-active {
  left: 0;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.quote {
    width: 50%;
    margin: 0% 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -2em !important;
    font-style: italic;
    color: #5b6f82;
    z-index: 1;
    padding: 1em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #b4c7e7;
    border-radius: 7px;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 0% 5%;
    }
}

.blockquote {
  position: relative;
    font-family: "Grestal", sans-serif;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 10px auto;
    align-self: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

/* Blockquote header */
.blockquote h1 {
  position: relative;
  font-size: 1.3rem;
  line-height: 1;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
    content: "”";
    font-size: 6rem;
    line-height: 0;
    bottom: -40px;
    right: 30px;

    @media screen and (max-width: 768px) {
      font-size: 4.5rem;
      bottom: -28px;
    }
}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #292a2b;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;

  @media screen and (max-width: 768px) {
    font-size: .85rem;
  }
}

.playlist-container {
  position: absolute;
    width: 50%;
    margin: 0% 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -12em !important;
    font-style: italic;
    color: #5b6f82;
    z-index: 1;
    border-radius: 7px;

    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 0% 5%;
    }
}

.playlist {
  position: relative;
    padding: 30px 0;
    width: 100%;
    max-width: 500px;
    z-index: 1;
    margin: 10px auto;
    align-self: center;
}

/* src/app/footer/footer.component.css */
.footer {
  background-color: #f8f9fa;
  padding: .7rem;
  text-align: center;
  font-family: 'Myriad Pro', 'sans';
  width: 100%;
  font-size: .85rem;
  letter-spacing: 0.1rem;
}
