<div class="about-us">
  <div class="container">
    <div class="header-section">
      <div class="image-widget">
        <img src="../../../assets/images/flower.webp" loading="lazy" width="40" alt="">
      </div>
      <div class="heading-widget">
        <h2>Groom and Bride</h2>  
      </div>
      <div class="heading-text-widget">
        <p>
          As we embark on this beautiful journey of love and togetherness, allow us to introduce ourselves - the stars of this romantic tale.
        </p>
      </div>
    </div>
    <div class="section">
      <div class="inner-section left">
        <div class="heading-widget">
          <h3>Kay Niango</h3>
        </div>
        <div class="text-widget">
          <p>
            Kay is a hardworking professional who is very dedicated to her career. She is skilled and always strives to be the best in her field. Even with a busy work schedule, she makes sure to balance her career with her personal life. Her commitment to her career is matched by her deep love for Alvin and their family, making her a balanced and admirable presence both at work and in their personal life.
          </p>
        </div>
      </div>
      <div class="inner-section image">
        <div class="elementor-2">
          <div class="elementor-element elementor-element-f3995b4">
              <div class="e-con-inner">
                    <div class="image-widget">
                      <img src="../../../assets/images/profile-couple.webp" loading="lazy" width="100%" alt="">
                    </div>
              </div>
          </div>
        </div>
      </div>
      <div class="inner-section right">
        <div class="heading-widget">
          <h3>Alvin Malapo</h3>
        </div>
        <div class="text-widget">
          <p>
            Alvin is an experienced IT expert who stays calm and focused at work, solving problems with care and skill. He values his family greatly and balances his career achievements with quality time with them. Alvin is dedicated to both his work and personal life, always striving for excellence and maintaining meaningful relationships. He and Kay share a loving and supportive bond outside of his work commitments.
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>
