.story {
    width: 100%;
    margin: 0 auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: auto;
    font-family: "Alice", serif;
    overflow: visible;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    row-gap: 20px;
    column-gap: 20px;
  
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
    }
  
    .header-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }
  
    .header-section .heading-widget h2 {
      font-size: 3.5rem;
      margin-top: -1.2rem;
      font-family: 'Dancing-Script';
      color:#b4c7e7;
      @media screen and (max-width: 768px) {
        font-size: 2.1rem;
      }
    }
  
    .heading-text-widget {
      margin: auto;
      font-family: 'Myriad Pro';
      letter-spacing: .05rem;
      font-size: .85rem;
      width:50%;

      @media screen and (max-width: 768px) {
        width: 90%;
      }
    }
  
    .section {
      width: 100%;
      display: flex;
      flex-wrap: wrap; /* Allow sections to wrap to next line on smaller screens */
      justify-content: center;
      padding: 1em;
  
      @media screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }
  
    .inner-section {
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 1em;
      @media screen and (max-width: 768px) {
        width: 95%; /* Make the inner sections full width on smaller screens */
        text-align: center;
      }
  
      .date-widget {
        font-family: 'Dancing-Script';
        text-align: center;
        letter-spacing: .05rem;
      }
  
      .heading-widget {
        text-align: center;
        font-family: 'Dancing-Script';
        color: #b4c7e7;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
  
      p {
        text-align: center;
        font-family: 'Myriad Pro';
        
        letter-spacing: .05rem;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
  
  
    .heading-widget h2,
    .heading-widget h3 {
      font-size: 2.5rem;
      margin-bottom: 10px;
  
      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
  
    .text-widget p {
      font-size: .85rem;
      line-height: 1.6;
    }
  
    .inner-section {
      position: relative;
      z-index: 2;
    }
  }
  