
<div class="story">
  <div class="container">
    <div class="header-section">
      <div class="image-widget">
        <img src="../../../assets/images/flower.webp" loading="lazy" width="40" alt="">
      </div>
      <div class="heading-widget">
        <h2>Our Story</h2>  
      </div>
      <div class="heading-text-widget">
        <p>
          Discover the journey of love that brought us together. From the first encounter to this moment, explore the chapters of our story, filled with laughter, love, and unforgettable memories
        </p>
      </div>
    </div>
    <div class="section">
      <div class="inner-section">
        <div class="date-widget">
          <h3>2017</h3>
        </div>
        <div class="heading-widget">
          <h3>We Met</h3>
        </div>
        <div class="text-widget">
          <p>          
            Alvin, a tech support, and Kay, a junior accountant at FOPM, met. Alvin requested Kay's Facebook, which wasn't accepted (or perhaps forgotten). Alvin invited Kay for a coffee date, marking the beginning of their love story. They shared late-night coffee at Starbucks
          </p> 
        </div>
      </div>
      <div class="inner-section">
        <div class="date-widget">
          <h3>January 30, 2021</h3>
        </div>
        <div class="heading-widget">
          <h3>We Became Official</h3>
        </div>
        <div class="text-widget">
          <p>
            Alvin and Kay officially became boyfriend and girlfriend, solidifying their relationship after years of getting to know each other and growing closer.
          </p>
        </div>
      </div>
      <div class="inner-section">
        <div class="date-widget">
          <h3>July 8, 2023</h3>
        </div>
        <div class="heading-widget">
          <h3>He Proposed</h3>
        </div>
        <div class="text-widget">
          <p>
            With the blessing of their parents and in the presence of close friends, Alvin proposed to Kay, asking her to marry him. It was a moment filled with joy and anticipation as they embarked on the next chapter of their lives together.
          </p>
        </div>
      </div>
    </div>
  </div>  
</div>